.container {
    display: grid;
    grid-template-rows: 93vh;
    grid-template-columns: 50vw 50vw;

    @media only screen and (max-width: $bp-tablet) {
        grid-template-rows: 100vh;
    }

    @media only screen and (max-width: $bp-mobile-large) {
        grid-template-rows: 25rem 25rem;
        grid-template-columns: 100vw;
    }
}

.left {
    background-color: $color-primary;
    background-image: url(../images/eagle-background.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.right {
    position: relative;
}
