*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.6;
  overflow: hidden; }
  @media only screen and (max-width: 48em) {
    body {
      overflow: auto; } }

.features ul {
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 27em) {
    .features ul {
      width: 70%; } }
  @media only screen and (max-width: 24em) {
    .features ul {
      width: 90%; } }

.features__item {
  display: flex;
  color: white;
  padding: 1.5rem 0;
  align-items: center; }
  .features__item:not(:last-child) {
    margin-bottom: .5rem; }

.features__icon {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 2rem;
  fill: currentColor; }

.login {
  margin-top: 3rem; }
  .login__form {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  color: inherit;
  transition: all .3s;
  border: 1px solid #999; }
  .form__input:focus {
    outline: none;
    border: 1px solid #55c57a; }
  .form__input:focus:invalid {
    border: 1px solid #ff7730; }
  .form__input:focus::-webkit-input-placeholder {
    color: #ccc; }

.form__button {
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1px solid #2a79f2;
  color: #2a79f2;
  background-color: white; }
  .form__button:hover {
    background-color: rgba(138, 181, 248, 0.2); }

.form__link {
  text-decoration: none;
  color: #bbb;
  font-size: 1.6rem; }
  .form__link:hover {
    text-decoration: underline; }

.fix {
  margin-bottom: 2.4rem; }

.invalid {
  border: 1px solid #ff7730; }

.invalid-feedback {
  font-size: 1.6rem;
  color: #ff7730;
  font-weight: bold;
  display: block;
  margin-top: .2rem; }

.welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 27em) {
    .welcome {
      margin: 3.5rem 0;
      width: 70%; } }
  @media only screen and (max-width: 24em) {
    .welcome {
      margin: 5rem 0; } }
  .welcome__img {
    width: 10%;
    height: auto;
    display: block;
    margin-bottom: 1.5rem; }
  .welcome__text {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.2; }
  .welcome__form {
    margin-top: 5rem; }
    .welcome__form--header {
      display: block;
      font-size: 2.3rem;
      font-weight: bold; }
    .welcome__form--button {
      display: block;
      margin-top: 1.5rem;
      border-radius: 10rem;
      width: 100%;
      padding: .8rem 0;
      cursor: pointer;
      outline: none; }
    .welcome__form a {
      text-decoration: none; }

.sign {
  background-color: #2a79f2;
  border: 1px solid #2a79f2;
  color: #fff; }
  .sign:hover {
    background-color: #0a4aac;
    border: 1px solid #0a4aac; }

.log {
  background-color: white;
  color: #2a79f2;
  border: 0.5px solid #2a79f2; }
  .log:hover {
    background-color: rgba(138, 181, 248, 0.2); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); }
  @media only screen and (max-width: 48em) {
    .popup {
      overflow: auto; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 40%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transition: all .5s .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0; }
    @media only screen and (max-width: 48em) {
      .popup__content {
        width: 60%;
        top: calc(100% + 2rem);
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 27em) {
      .popup__content {
        width: 80%;
        text-align: center; } }
    @media only screen and (max-width: 24em) {
      .popup__content {
        width: 90%; } }
  .popup__heading {
    font-size: 2.5rem;
    font-weight: bold; }
  .popup__close {
    position: absolute;
    color: white;
    font-size: 3rem;
    right: 3rem;
    top: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    font-family: inherit;
    text-decoration: none; }

.form {
  margin-top: 1rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__inputs {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: inherit;
    color: inherit;
    transition: all .3s;
    border: 1px solid #999;
    width: 40rem; }
    @media only screen and (max-width: 27em) {
      .form__inputs {
        width: 25rem; } }
    .form__inputs:focus {
      outline: none;
      border: 1px solid #55c57a; }
    .form__inputs:focus:invalid {
      border: 1px solid #ff7730; }
    .form__inputs:focus::-webkit-input-placeholder {
      color: #ccc; }
    .form__inputs:read-only {
      cursor: not-allowed;
      background-color: #999; }
  .form__label {
    font-size: 1.6rem;
    margin-top: .2rem;
    display: block; }
  .form__buttons {
    padding: 1.5rem 2rem;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.6rem;
    cursor: pointer;
    border: 1px solid #2a79f2;
    color: white;
    background-color: #2a79f2;
    outline: none; }
    .form__buttons:hover {
      background-color: #0a4aac;
      border-color: #0a4aac; }

.fix1 {
  text-align: center; }

.footer {
  border-top: 1px solid #ccc; }
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.3%; }
    .footer__links a {
      text-decoration: none;
      color: #999;
      font-size: 1.3rem; }
  @media only screen and (max-width: 48em) {
    .footer {
      opacity: 0;
      z-index: -1;
      display: none; } }

.disabled, .disabled:hover {
  cursor: not-allowed;
  background-color: #2a79f2;
  border: 1px solid #2a79f2;
  color: #fff;
  opacity: 0.5; }

.browser-check {
  background-color: #ff7730;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0 -.5rem;
  font-weight: bold;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 93vh;
  grid-template-columns: 50vw 50vw; }
  @media only screen and (max-width: 48em) {
    .container {
      grid-template-rows: 100vh; } }
  @media only screen and (max-width: 27em) {
    .container {
      grid-template-rows: 25rem 25rem;
      grid-template-columns: 100vw; } }

.left {
  background-color: #2a79f2;
  background-image: url(../images/eagle-background.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center; }

.right {
  position: relative; }
