:root {
    --color-primary: #2a79f2;
    --color-primary-light-1: #8ab5f8;
    --color-primary-light-2: #dae8fd;
    --color-primary-dark: #0a4aac;
    --border: 1px solid rgba(0, 0, 0, 0.1);
    --transparent: rgba(0, 0, 0, 0.5);
    --color-white: #fff;
}

#home, #users {
    position: relative !important;
    height: 100vh;
}

.cover-photo {
    background-color: var(--color-primary);
    height: 50%;
}

.profile-photo {
    background-color: var(--color-white);
    height: 50%;
}

.user-name {
    margin-left: 7rem;
    font-size: 1.05rem;
}

.choose-photo {
    border-radius: 50%;
    background: var(--color-primary);
    width: 34%;
    height: 37%;
    border: 3px solid #fff;
    position: absolute;
    top: 35%;
    left: 5%;
}

.choose-photo .upload-icon {
    margin: 70% auto auto 0;
    fill: var(--color-white);
}

.user-detail {
    height: 15rem;
    position: relative;
}

.user-parent-info { display: flex; height: 100%; box-shadow: 0 3px 2px -2px gray; }

.user-info {
    display: flex;
    margin: 1rem .5rem .5rem .5rem;
    justify-content: space-between;
    text-align: center;
}

.user-profile-info {
    width: 18%;
    margin: .5rem 0 0 25.5rem;
}

.user-info label { position: relative; cursor: pointer; }
.user-info label:hover { color: var(--color-primary); font-weight: bold; }
.user-profile-info span:hover { border-bottom: 2px solid var(--color-primary); }
.user-info span { cursor: pointer; }
.user-info span:hover > label { color: var(--color-primary); font-weight: bold; }
.user-profile-info .selected { border-bottom: 2px solid var(--color-primary); }
.user-profile-info .selected > label { color: var(--color-primary); font-weight: bold; }

.user-profile-button { margin: 1.25rem 0 1.25rem 30rem; }
.user-profile-button a { padding: .7rem 2rem; }
.user-profile-button a:hover { text-decoration: none; }


.trends {
    background-color: var(--color-white);
    margin: 1rem 0;
    padding: 1rem;
}

.trends__list { padding: .5rem; }

.trends__list a {
    font-weight: 400;
    font-size: 1.05rem;
}

.trends__list span { font-size: .8rem; }

.trends__list div:not(:last-child) {
    margin-bottom: 1rem;
}

#textEditor {
    margin-left: 1rem;
    flex: 1;
}

#theRibbon {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    margin-bottom: .5rem;
    align-items: center;
    align-content: center;
}

#richTextArea {
    border: 2px solid var(--color-primary-light-1);
    padding: 10px;
    height: 80%;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--color-white);
    outline: none;
    max-height: calc(25vh - 30%);
}

#richTextArea::-webkit-scrollbar { display: none; }
#richTextArea::-webkit-scrollbar-track { display: none; }
#richTextArea::-webkit-scrollbar-thumb { display: none; }

.user-avatar {
    border-radius: 50%;
}


.upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 50%;
}

.upload-photo + label {
    position: relative;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: var(--color-white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -75px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.upload-photo + label:hover .tooltiptext { visibility: visible; }

.user-info label:hover .tooltiptext {
    visibility: visible;
    width: max-content;
    padding: 5px;
    margin-left: -34px;
    margin-bottom: 5px;
}

.upload-icon {
    fill: var(--color-primary);
    margin-top: 1rem;
    width: 30px;
    height: 27px;
    color: var(--color-primary);
}

.photo-container {
    height: fit-content;
    width: 100%;
    background-color: #f5f8fa;
    margin-top: -.5rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1rem;
    border: 2px solid var(--color-primary-light-1);
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-uploaded {
    width: 115px;
    height: 115px;
    border-radius: 8px;
    margin-top: .5rem;
}

.video-uploaded {
    height: 115px;
    width: 115px;
    border-radius: 8px;
}

.tweet {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10rem;
    outline: none;
    border: 1px solid var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    padding: .5rem 1rem;
    transition: all .2s;
}

.tweet:focus {
    border: none;
    outline: none;
}

.tweet:hover {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
}

.no_tweet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading + .no_tweet { visibility: hidden; }

.who-to-follow { background-color: var(--color-white); }

.who-to-follow .heading { padding: 1rem; padding-bottom: 0; }

.who-to-follow .body {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}


.body:not(:last-child) {
    border-bottom: var(--border);
    padding-bottom: 1rem;
}

.who-to-follow .footer { padding: 1rem; padding-top: 0; }

.who-to-follow img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-self: center;
    margin-right: 1rem;
}

.who-to-follow .body a:hover { text-decoration: none; }

.who-to-follow span { margin-bottom: .5rem; }

.transparent {
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: .2rem 1rem;
}

.transparent:hover {
    background-color: var(--color-primary-light-2);
}

.page-footer {
    background-color: #fff;
    margin-top: 1rem;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__links a {
    color: #999 !important;
    cursor: pointer;
}

.page-footer div { padding: 1rem; }
.page-footer div:last-child { padding-top: 0; }

.disabled, .disabled:hover {
    cursor: not-allowed;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: #fff;
    opacity: 0.5;
}

.tweets {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: max-content;
}

.tweets:not(:last-child) {
    margin-bottom: 1rem;
}

.tweets--img img { border-radius: 50%; }

.tweets--content { padding-left: .5rem; width: inherit; }

.tweets--heading {
    display: flex;
    min-width: 15rem;
    max-width: max-content;
}

.tweets--heading a {
    color: #000;
    font-size: 1.05rem;
}

.tweets--heading a:hover {
    color: var(--color-primary);
}

.tweets--username {
    padding: 0 .5rem;
    color: #999;
}
.tweets--time { padding: 0 .5rem; color: #999; }

.dot { margin-top: -.2rem; }

.tweets__img { margin-bottom: 1rem; }
.tweets__img  img {
    border-radius: 8px;
    width: 28rem;
    cursor: pointer;
}

.tweets--footer { display: flex; }
.ion-icon {
    font-size: 1.5rem;
    color: #999;
    cursor: pointer;
}
.retweet { padding: 0 2rem; }
.heart:hover { color: red; }
.red { color: red; }
.heart { padding-right: .5rem; }
.tweets--footer div { position: relative; display: flex; }
.ion-icon:hover + .tooltiptext {
    visibility: visible;
    bottom: 100%;
    width: 70px;
    margin-left: -43px;
}

.retweet__body {
    margin-top: 1rem;
    padding: 1rem .3rem 0 .5rem;
    border: var(--border);
    border-radius: 4px;
}

.retweet_status { color: #999; justify-self: flex-end; }

.hidden {
    opacity: 0;
    display: none;
    z-index: -1;
    width: 0;
    visibility: hidden;
}

.center { text-align: center; }

.profile-image {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.uploading { display: flex; }
#upload-video + label { margin-left: 1rem; }
.image { width: 50px; height: 50px; border-radius: 50%; }

.retweet-image {
    width: 20rem;
    border-radius: 8px;
    cursor: pointer;
}

.user-photo-container { min-height: 25rem; position: relative; }
.user-cover-photo {
    height: 85%;
    width: 100%;
    top: 0;
    background: var(--color-primary);
    position: absolute;
}
.user-profile-photo {
    height: 15%;
    width: 100%;
    top: 85%;
    position: absolute;
    background: var(--color-white);
}

.py-4 { padding-top: 0 !important; }

.user-choose-photo {
    width: 17%;
    height: 15rem;
    top: -10rem;
    border-width: 5px;
}

.user-choose-photo label, .user-cover-photo label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-cover-photo .upload-icon { fill: var(--color-white); }

.profile-info { display: flex; flex-direction: column; }
.profile-info span:first-child { line-height: 1; }
.profile-info span:first-child > a { color: #000; }
.profile-info span:not(:last-child) { margin-bottom: 1rem; }
.profile-info span:not(:first-child) { display: flex; }
.profile-info span div { display: flex; }
.profile-info-icon { font-size: 1.5rem; font-weight: lighter; margin-right: .3rem; }
.user-firstname { font-size: 1.5rem; }
.user-username { font-size: .8rem; }
.bio { height: 30px; }

.my-column {
    float: left;
    width: 25%;
}

.my-modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.my-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.my-close {
    color: white;
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.my-close:hover, .my-close:focus { text-decoration: none; cursor: pointer; }
.mySlides { display: none; }
.my-cursor { cursor: pointer; }

.my-prev, .my-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.my-next{ right: 0; border-radius: 3px 0 0 3px; }
.my-prev:hover, .my-next:hover { background-color: rgba(0, 0, 0, 0.8); }

.my-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.my-modal img { margin-bottom: -4px; }

.my-caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.my-demo { opacity: 0.6; }
.active, .my-demo:hover { opacity: 1; }

.card-footer { text-align: center; }
.back-to-top {
    color: var(--color-primary);
    font-size: 3rem;
    cursor: pointer;
}

.follow { position: relative; }

.follow-cover-photo {
    background-color: var(--color-primary) !important;
    min-height: 6.5rem;
    padding: 0;
}

.follow-cover-image {
    width: 100%;
    height: 100%;
}

.follow-profile-photo {
    position: absolute;
    height: 5.4rem;
    width: 5.5rem;
    top: 25%;
    left: 1rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.follow-profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.follow-button a:hover { text-decoration: none; }

.follow-user-name { margin-top: 1rem; line-height: 1rem; }
.follow-user-name a:first-child { color: #000; font-size: 1.2rem; }
.follow-user-name a:last-child { color: #999; }
.follow-user-description { margin-top: 1rem; }

.edit-profile { margin-left: -90px; }
.edit-profile a:first-child { margin-right: 15px; }

.user-info-input {
    padding: 10px;
    border: 2px solid var(--color-primary-light-1);
    border-radius: 8px;
    outline: none;
}

.transparent-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--transparent);
    border-radius: 50%;
}

.transparent-box span {
    position: absolute;
    top: 60%;
    color: var(--color-white);
    left: 10%;
}

.cover-image {
    width: 100%;
    height: 100%;
}

.cover-transparent-box {
    position: absolute;
    width: 100%;
    background: var(--transparent);
    height: 96%;
    top: 1rem;
}

.cover-transparent-box span {
    position: absolute;
    top: 60%;
    color: var(--color-white);
    left: 50%;
    transform: translateX(-50%);
}

.tweets__img div:first-child { position: relative; }
.retweet__img { position: relative; margin-bottom: .5rem; }

.img-transparent-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    border-radius: 8px;
    cursor: pointer;
}

.img-transparent-box span {
    color: var(--color-white);
    font-size: 4rem;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.retweet__img .img-transparent-box { width: 20rem; }

.welcome__img {
    width: 3%;
    height: auto;
    display: block;
    margin-bottom: 1.5rem;
    margin: 0 auto;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6.4rem;
}

.spinner {
    position: relative;
}

.spinner:before, .spinner:after {
    content: "";
    position: relative;
    display: block;
}

.spinner:before {
    animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    width: 1em;
    height: 1em;
    background-color: var(--color-primary);
}

.spinner:after {
    animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    bottom: -.5em;
    height: .25em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes spinner {
    50% {
        border-radius: 50%;
        transform: scale(0.5) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(720deg);
    }
}

@keyframes shadow {
    50% {
        transform: scale(0.5);
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.followers-selected, .following-selected { margin: 1.5rem 0; }

.settings {
    margin: 1rem 0;
    background: var(--color-white);
}

.settings__list {
    list-style: none;
    padding: 0;
    /* border: 1px solid #fff; */
}

.settings__list li:not(:last-child) {
    border-bottom: var(--border);
}

.settings__list li {
    padding: .5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.settings__list li:hover {
    color: var(--color-primary);
    background: #f5f8fa;
}

.settings__list li.active {
    font-weight: bold;
    color: var(--color-primary);
}

.arrow { margin-top: .3rem; }

.settings_divs { background: var(--color-white) }
.settings_divs h3 { padding: 1rem 0 0 1rem; }
.settings_divs .note { font-size: .8rem !important; }
.settings_divs #note { margin-left: 1rem; }
.settings_divs .centered { margin-left: 1rem; padding-bottom: 1rem; }

.form { margin-left: 5rem; }
.form .form__group { display: flex; }
.form .form__group div { width: 45%; }
.form .form__group label { width: 20%; }

.form .form__group .form__control, .data__content input {
    width: 100%;
    border-radius: 2px;
    border: var(--border);
    padding: .3rem .5rem;
}

.form .form__group:not(:last-child) { margin-top: 1rem; }
.form .form__group div span { font-size: .8rem; }
.form button, .data button { margin: 1rem; }

.checksForm { width: calc(100% - 3rem); margin-left: 3rem; }
.checksForm .form__group:not(:last-child) { margin-top: 2rem; }
.form__options { width: 70% !important; margin-left: 5%; }
.form__options--container { width: 100% !important; display: flex; flex-direction: column; }
.form__options--container:not(:last-child) { margin-bottom: .5rem; }
.form__options--container input { margin-right: .5rem; margin-top: .3rem; }
.form__options--container div { width: 100% !important; }
.form__options--container div span{ font-size: 1rem !important; }

.password .form { margin-left: 3rem; }
.password .form .form__group label { width: 30%; }

.data button { margin-top: 0; }
.data__content { margin-left: 1rem; margin-bottom: 1rem; }
.data__content input { width: calc(100% - 1rem); margin-top: 1rem; }
